





/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background-color: #fff;
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
    color :red;
  }
  
  h2 {
    color: #000;
    font-weight: 600;
  }
  
  h4 {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2;
  }
  
  h5 {
    color: #626262;
    font-size: 14px;
    font-weight: 500;
  }
  
  a {
    letter-spacing: 2px;
    text-decoration: none;
    color: red;
  }
  a:hover {
    color: #92d283;
  }
  
  ul {
    letter-spacing: 1px;
  }
  
  li {
    color: #626262;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 30px;
    text-transform: capitalize;
  }
  
  p {
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 2;
    margin-bottom: 20px;
  }
  
  span {
    letter-spacing: 1px;
  }
  
  .container-full {
    padding-left: 0;
    padding-right: 0;
  }
  
  .btn {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 15px 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .btn-default:hover {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  
  .fa {
    text-decoration: none;
    font-size: 13px;
  }
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background: #fff;
    z-index: 997;
    transition: all 0.5s ease;
    padding: 10px 0;
  }
  #header #logo h1 {
    color: #505050;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
  }
  #header #logo h1 a {
    color: #555;
    display: inline-block;
    text-decoration: none;
  }
  #header #logo h1 a span {
    color: red;
  }
  #header #logo img {
    padding: 0;
    margin: 0;
  }
  #header.header-scrolled {
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #222;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: red;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    text-transform: none;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: red;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(34, 34, 34, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 6px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #222;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: red;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: red;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: calc(100vh - 40px);
    background-size: 100%;
    position: relative;
    margin-top: 40px;
  }
  @media (min-width: 1025px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (min-width: 1025px) and (max-height: 768px) {
    #hero {
      height: 110vh;
    }
  }
  @media (max-height: 600px) {
    #hero {
      height: 200vh;
    }
  }
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: "Philosopher", sans-serif;
    color: red;
  }
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  #hero h2 {
    color: #777;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  #hero img {
    max-width: 95%;
    margin-bottom: 30px;
  }
  #hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 11px 36px;
    border-radius: 50px;
    transition: 0.5s;
    margin-bottom: 30px;
    border: 2px solid red;
    background: #fff;
    color: red;
    text-decoration: none;
  }
  #hero .btn-get-started:hover {
    background: red;
    color: #fff;
  }
  #hero .btns a {
    color: #555;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 4px 20px;
    text-decoration: none;
    transition: 0.3s;
  }
  @media (max-width: 575px) {
    #hero .btns a {
      margin: 4px 8px;
    }
  }
  #hero .btns a:hover {
    color: red;
  }
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  
  .footer .footer-logo .navbar-brand {
    color: #fff;
    display: inline-block;
    float: none;
    font-family: "Philosopher", sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 0.2em;
    padding-left: 0;
    padding-top: 0;
  }
  .footer .footer-logo p {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .footer .list-menu > h4 {
    color: #fff;
    padding-bottom: 20px;
  }
  .footer .list-menu ul li a {
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
    text-decoration: none;
    letter-spacing: 0;
  }
  .footer .copyrights {
    background: #fff;
    margin-top: 50px;
    text-align: center;
    padding: 25px;
  }
  .footer .copyrights p, .footer .copyrights .credits {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0;
  }
  .footer .copyrights p a, .footer .copyrights .credits a {
    letter-spacing: 0;
    color: red;
  }  
h1{
  color: red;
}  